$border: 15px solid #333333;
$grey: #333333;
$normal: 'Oswald', sans-serif;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.mainBox {
  position: relative;
  width: 600px;
  height: 600px;
  border-radius: 100%;
  overflow: hidden;
  margin: 75px auto 0 auto;
  box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.1);
}
@mixin buttons($color, $top, $left) {
  width: 300px;
  height: 300px;
  border: 30px solid $grey;
  position: absolute;
  top: $top;
  left: $left;
  background-color: $color;
}
.t-l {
  @include buttons(#b30000, 0, 0);
  border-top-left-radius: 100%;
  border-right: $border;
  border-bottom: $border;
}
.t-r {
  @include buttons(#004d99, 0, 300px);
  border-top-right-radius: 100%;
  border-left: $border;
  border-bottom: $border;
}
.b-l {
  @include buttons(#248f24, 300px, 0);
  border-bottom-left-radius: 100%;
  border-top: $border;
  border-right: $border;
}
.b-r {
  @include buttons(#e6c700, 300px, 300px);
  border-bottom-right-radius: 100%;
  border-top: $border;
  border-left: $border;
}
.optionBox {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  border: 20px solid #333333;
  background-color: #FFFFFF;
  z-index: 2;
  border-radius: 100%;
}
.brand {
  position: absolute;
  top: 20px;
  left: 50px;
  font-size: 4em;
  font-family: 'Lobster', cursive;
}
.count {
  position: absolute;
  top: 100px;
  left: 35px;
  width: 60px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #000000;
  background-color: #660000;
  color: #ff0000;
  font-size: 3em;
  line-height: 45px;
  text-align: center;
  font-family: 'VT323', monospace;
}
@mixin small-buttons($top, $left, $color) {
  position: absolute;
  top: $top;
  left: $left;
  width: 30px;
  height: 30px;
  border: 2px solid #000000;
  background-color: $color;
  border-radius: 100%;
}
.start {
  @include small-buttons(116px, 120px, red);
}
.strict {
  @include small-buttons(116px, 190px, yellow);
}
.led {
  position: absolute;
  top: 97px;
  left: 199px;
  width: 12px;
  height: 12px;
  border: 2px solid #000000;
  background-color: #cc0000;
  border-radius: 100%;
}
.countLabel {
  position: absolute;
  top: 155px;
  left: 43px;
  width: 60px;
  height: 50px;
  font-family: $normal;
}
@mixin labels($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
  width: 60px;
  height: 50px;
  font-family: $normal;
}
.startLabel {
  @include labels(155px, 115px);
}
.strictLabel {
  @include labels(155px, 180px);
}
@mixin onOffLabels($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
  font-family: $normal;
}
.offLabel {
  @include onOffLabels(187px, 69px);
}
.onOff {
  position: absolute;
  top: 185px;
  left: 100px;
  width: 70px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 3px;
  background-color: #000000;
}
.onLabel {
  @include onOffLabels(187px, 179px);
}
.switch {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 30px;
  height: 94%;
  background-color: #FFFFFF;
  border-radius: 2px;
  transition: left 0.5s;
}
.pointer:hover {
  cursor: pointer;
}
.about {
  display: block;
  margin-top: 50px;
  font-size: 1em;
  font-family: 'Lobster', cursive;
  text-align: center;
}
.about a {
  text-decoration: none;
  color: inherit;
}
