body {
  font-family: 'Orbitron', sans-serif;
  background-color: #808080;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
#main {
  width: 750px;
  margin: 10% auto;
}

#calculator {
  display: inline-block;
  float: left;
  width: 350px;
  height: 370px;
  margin-right: 1em;
  background-color: #e6e6e6;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 5px 5px 20px 1px #333333, inset -1px -7px 10px 1px #b3b3b3;
}

#screen {
  display: block;
  width: 300px;
  height: 70px;
  background-color: #e5e5cc;
  border: 2px solid #c1c18a;
  border-radius: 5px;
  margin: 5px auto 15px auto;
  text-align: right;
}

#topScreen {
  display: block;
  width: 300px;
  height: 40px;
  padding: 7px 15px;
  font-size: 1.5em;
}

#bottomScreen {
  display: block;
  width: 300px;
  height: 30px;
  padding: 2px 10px;
  font-size: 1em;
  color: #808080;
}

button:focus {
  outline: none;
}

#numbers {
  display: inline-block;
  height: auto;
  width: 180px;
  padding: 0 4px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#operators {
  display: inline-block;
  height: auto;
  width: 120px;
  padding: 0 3px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.buttons {
  display: inline-block;
  margin: 5px 2px;
  background-color: #404040;
  border-radius: 10px;
  border: 1px solid #262626;
  background: linear-gradient(to top, #333333, #262626);
  box-shadow: 0 3px 0 #222121, inset -1px -3px 10px 1px #4d4d4d;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
  font-size: 1.3em;
  font-family: 'Orbitron', sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px 0;
}

.small_button {
  width: 50px;
  height: 50px;
}

.big_button {
  width: 109px;
  height: 50px;
}

.buttons:hover {
  cursor: pointer;
}

.red {
  background: linear-gradient(to top, #990000, #800000);
  border: 1px solid #660000;
  box-shadow: 0 3px 0 #330000, inset -1px -3px 10px 1px #b30000;
  font-size: 1.2em;
  padding: 13px 0;
}

#record {
  display: inline-block;
  float: right;
  width: 350px;
  height: 500px;
  padding: 20px;
  text-align: right;
  background-color: #ffffe6;
  border: 1px solid #ffff80;
  border-radius: 4px;
}
.entries {
  font-size: 1.2em;
}
#about {
  width: 100%;
  text-align: right;
  display: inline-block;
  margin-top: 5px;
  font-size: 0.9em;
}
a, a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}
